@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
}

h1, h2, h3, h4, h5 {
    @apply leading-relaxed;
    font-weight: 600;
}

h1, .h1 {
    font-size: 1.728em;
}

h2, .h2 {
    font-size:1.44em;
}

h3, .h3 {
    font-size: 1.22em;
}

h4, .h4 {
    font-size: 1.1em;
}


.blue-primary{
    color: #1478B3;
}

.featured-blogs {
  background: #c6ddda;
}
.border-blogs-right {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.border-blogs-left {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.border-blogs-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}