@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, h1, h2, h3, h4, h5, h6, p, a, ul, li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625em;
}
h1, h2, h3, h4, h5 {
    @apply leading-snug mb-1 font-semibold;
}

h1, h2 {
  @apply font-serif tracking-tight;
}
h3, h4, h5 {
  @apply font-semibold;
}

h1, .h1 {
    font-size: 2em;
}

h2, .h2 {
    font-size: 1.8em;
}

h3, .h3 {
    font-size: 1.5em;
}

h4, .h4 {
    font-size: 1.2em;
}

h5, .h5 {
    font-size: 1.06em;
}


.blue-primary{
    color: #1478B3;
}

.featured-blogs {
  background: #c6ddda;
}
.border-blogs-right {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.border-blogs-right__desktop {
  border-right: none;
}

.border-blogs-left {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.border-blogs-left__desktop  {
  border-left: none;
}

.border-blogs-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.excerpt {
  @apply text-sm mt-2 hidden md:block leading-relaxed mb-2 pr-8;
}
.category-span {
  @apply uppercase mr-2 inline-block py-1 px-2 rounded-md bg-blue-50 text-xxs font-medium tracking-wide;
}

.article-details-bottom-span {
  @apply absolute bottom-1 left-0 font-thin text-slate-600;
}

.block-img img {
  margin: auto;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .border-blogs-right__desktop {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}